*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-nav{
    width: 80%;
    margin: 0 auto;
    display: flex;
}

.container-navR{
    display: flex;
    justify-content: flex-end;
}

.nadvar-text{
  font-size: 1.2rem;
}

header {
  margin-top: 50px;
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
}

.container2 {
  margin-top: 100px;
}

.img-sub{
  text-align: center;
  margin-top: 40px;
}

img {
  width: 40%;
  height: auto;
  margin-right: 20px;
}

.texto {
  width: 60%;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

#carrito {
  background-color: #f5f5f5;
  width: 70%;
  margin: 10px auto ;
  text-align: center;
}

#lista-carrito {
  list-style: none;
  padding: 0;
}

.carrito-lista{
  background-color: #f1f1f1;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}

#vaciar-carrito {
  padding: 10px 20px;
}

#comprar-carrito {
  padding: 10px 20px;
}

.container-search{
    
    width: 78%;
    margin: 50px auto;
}

.form-registro{
  width: 400px;
  margin: 100px auto 100px;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
input[type="text"], input[type="email"], input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 20px;
}
input[type="submit"] {
  background-color: #3c3c3c;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #000000;
}

.p-h3{
  text-align: center;
  font-size: 600px;
  margin: 0 0 40px;
}

.swal-button{
  background-color: #3c3c3c;
}

.container-padre{
    width: 80%;
    height: fit-content;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-ed{
    height: auto;
    width: 25%;
    margin: 20px;
    box-shadow: 7px 9px 17px 0px rgba(69, 74, 67, 0.75);
}

footer {
    background-color: #333;
    color: #fff;
    padding: 30px 10%;
  }
  
  
  footer h4 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  footer p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  footer ul li {
    margin-bottom: 10px;
  }
  
  footer ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .social-icons {
    display: flex;
    justify-content: space-between;
  }
  
  @media screen and (max-width: 800px){
    .img-sub{
      margin: 100px -10px 50px;
  }
    .card-ed{
      width: 40%;
    }
  }
  .social-icons {
    justify-content:flex-start;
  }
  @media screen and (max-width: 600px){
    .card-ed{
      width: 70%;
    }
  }

